In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/cars_features.csv')
df.shape
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,45596517,20385,1091,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918 km,4.0,Automatic,Front,04-May,Left wheel,Blue,8
5232,45759338,157,915,AUDI,A7,2014,Hatchback,Yes,Petrol,3,401128 km,6.0,Automatic,4x4,04-May,Left wheel,Grey,0
5233,45760345,35438,-,HYUNDAI,Sonata,2016,Sedan,Yes,Hybrid,2,144000 km,4.0,Tiptronic,Front,04-May,Left wheel,Silver,0
5234,45655100,941,1356,LEXUS,GX 460,2014,Jeep,Yes,Petrol,4.6,200402 km,8.0,Automatic,4x4,04-May,Left wheel,Silver,0
5235,45548755,31047,333,SUBARU,XV,2014,Jeep,Yes,Hybrid,2,99200 km,4.0,Tiptronic,4x4,04-May,Left wheel,Green,12

In [ ]:
df.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [ ]:
columns_to_drop = ['Price', 'Levy','Doors','Wheel','Drive wheels']
df = df.drop(columns_to_drop, axis=1)

In [ ]:
df['Engine volume'] = df['Engine volume'].str.replace('Turbo', '')

In [ ]:
df

,ID,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Black,2
3,45769185,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,White,0
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918 km,4.0,Automatic,Blue,8
5232,45759338,AUDI,A7,2014,Hatchback,Yes,Petrol,3,401128 km,6.0,Automatic,Grey,0
5233,45760345,HYUNDAI,Sonata,2016,Sedan,Yes,Hybrid,2,144000 km,4.0,Tiptronic,Silver,0
5234,45655100,LEXUS,GX 460,2014,Jeep,Yes,Petrol,4.6,200402 km,8.0,Automatic,Silver,0
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2,99200 km,4.0,Tiptronic,Green,12

In [ ]:
for i in ['Mileage']:
    df[i] = df[i].apply(lambda x : float((str(x).replace(',','')).split()[0]))

In [ ]:
df

,ID,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000.0,6.0,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Black,2
3,45769185,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,White,0
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918.0,4.0,Automatic,Blue,8
5232,45759338,AUDI,A7,2014,Hatchback,Yes,Petrol,3,401128.0,6.0,Automatic,Grey,0
5233,45760345,HYUNDAI,Sonata,2016,Sedan,Yes,Hybrid,2,144000.0,4.0,Tiptronic,Silver,0
5234,45655100,LEXUS,GX 460,2014,Jeep,Yes,Petrol,4.6,200402.0,8.0,Automatic,Silver,0
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2,99200.0,4.0,Tiptronic,Green,12

In [ ]:
#df.to_csv("cars_df_cleaned.csv", index=False)

In [ ]:
sorted(df['Manufacturer'].unique())

['ACURA',
 'ALFA ROMEO',
 'AUDI',
 'BENTLEY',
 'BMW',
 'BUICK',
 'CADILLAC',
 'CHEVROLET',
 'CHRYSLER',
 'CITROEN',
 'DAEWOO',
 'DAIHATSU',
 'DODGE',
 'FIAT',
 'FORD',
 'GAZ',
 'GMC',
 'HAVAL',
 'HONDA',
 'HUMMER',
 'HYUNDAI',
 'INFINITI',
 'ISUZU',
 'JAGUAR',
 'JEEP',
 'KIA',
 'LAND ROVER',
 'LEXUS',
 'LINCOLN',
 'MAZDA',
 'MERCEDES-BENZ',
 'MERCURY',
 'MINI',
 'MITSUBISHI',
 'NISSAN',
 'OPEL',
 'PEUGEOT',
 'PORSCHE',
 'RENAULT',
 'SCION',
 'SKODA',
 'SSANGYONG',
 'SUBARU',
 'SUZUKI',
 'TESLA',
 'TOYOTA',
 'UAZ',
 'VAZ',
 'VOLKSWAGEN',
 'VOLVO',
 'ZAZ',
 'სხვა']

In [ ]:
# Define a function to replace 0 with pd.NA
def replace_zero(value):
    return pd.NA if value == 0 else value

# Apply the function to each element in the DataFrame
df = df.applymap(replace_zero)

In [ ]:
df.isnull().sum()

ID                    0
Manufacturer          0
Model                 0
Prod. year            0
Category              0
Leather interior      0
Fuel type             0
Engine volume         0
Mileage             191
Cylinders             0
Gear box type         0
Color                 0
Airbags             617
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

,ID,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000.0,6.0,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Black,2
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Silver,4
5,45802912,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931.0,4.0,Automatic,White,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,45813442,TOYOTA,Camry,2016,Sedan,Yes,Petrol,2.5,151443.0,4.0,Automatic,Grey,12
5228,45811047,MERCEDES-BENZ,Smart,2004,Hatchback,No,Petrol,1.3,1000900.0,4.0,Tiptronic,Black,8
5230,45115882,HYUNDAI,Elantra,2015,Sedan,No,Petrol,1.8,76800.0,4.0,Tiptronic,Blue,12
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918.0,4.0,Automatic,Blue,8
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2,99200.0,4.0,Tiptronic,Green,12

In [ ]:
df.isnull().sum()

ID                  0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Color               0
Airbags             0
dtype: int64

In [ ]:
df = df.rename(columns={'Prod. year':'ProdYear',	'Leather interior':'Leather_interior', 'Fuel type':'Fuel_type', 'Engine volume':'Engine_volume','Gear box type':'Gear_box_type' })

In [ ]:
df

,ID,Manufacturer,Model,ProdYear,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000.0,6.0,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Black,2
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Silver,4
5,45802912,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931.0,4.0,Automatic,White,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,45813442,TOYOTA,Camry,2016,Sedan,Yes,Petrol,2.5,151443.0,4.0,Automatic,Grey,12
5228,45811047,MERCEDES-BENZ,Smart,2004,Hatchback,No,Petrol,1.3,1000900.0,4.0,Tiptronic,Black,8
5230,45115882,HYUNDAI,Elantra,2015,Sedan,No,Petrol,1.8,76800.0,4.0,Tiptronic,Blue,12
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918.0,4.0,Automatic,Blue,8
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2,99200.0,4.0,Tiptronic,Green,12

In [ ]:
df.dtypes

ID                    int64
Manufacturer         object
Model                object
ProdYear              int64
Category             object
Leather_interior     object
Fuel_type            object
Engine_volume        object
Mileage              object
Cylinders           float64
Gear_box_type        object
Color                object
Airbags              object
dtype: object

In [ ]:
df['Cylinders'] = df['Cylinders'].astype(int)
df['Engine_volume'] = df['Engine_volume'].astype(float)
df['Mileage'] = df['Mileage'].astype(int)
df['Airbags'] = df['Airbags'].astype(int)
df['Manufacturer'] = df['Manufacturer'].astype(str)
df['Category'] = df['Category'].astype(str)
df['Leather_interior'] = df['Leather_interior'].astype(str)
df['Fuel_type'] = df['Fuel_type'].astype(str)
df['Gear_box_type'] = df['Gear_box_type'].astype(str)
df['ProdYear'] = df['ProdYear'].astype(str)

In [ ]:
df.dtypes

ID                    int64
Manufacturer         object
Model                object
ProdYear             object
Category             object
Leather_interior     object
Fuel_type            object
Engine_volume       float64
Mileage               int64
Cylinders             int64
Gear_box_type        object
Color                object
Airbags               int64
dtype: object

In [ ]:
df

,ID,Manufacturer,Model,ProdYear,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Black,2
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Silver,4
5,45802912,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2.0,160931,4,Automatic,White,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,45813442,TOYOTA,Camry,2016,Sedan,Yes,Petrol,2.5,151443,4,Automatic,Grey,12
5228,45811047,MERCEDES-BENZ,Smart,2004,Hatchback,No,Petrol,1.3,1000900,4,Tiptronic,Black,8
5230,45115882,HYUNDAI,Elantra,2015,Sedan,No,Petrol,1.8,76800,4,Tiptronic,Blue,12
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918,4,Automatic,Blue,8
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2.0,99200,4,Tiptronic,Green,12

In [ ]:
df.dtypes

ID                    int64
Manufacturer         object
Model                object
ProdYear             object
Category             object
Leather_interior     object
Fuel_type            object
Engine_volume       float64
Mileage               int64
Cylinders             int64
Gear_box_type        object
Color                object
Airbags               int64
dtype: object

In [ ]:
for col in df.columns:
    print(col, df[col].unique())
    print("\n\n")

ID [45654403 44731507 45774419 ... 45115882 45596517 45548755]



Manufacturer ['LEXUS' 'CHEVROLET' 'HONDA' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ' 'OPEL'
 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'FORD' 'RENAULT' 'AUDI' 'DAEWOO'
 'KIA' 'MITSUBISHI' 'SSANGYONG' 'NISSAN' 'GMC' 'FIAT' 'SUBARU' 'INFINITI'
 'MAZDA' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'CITROEN' 'MINI'
 'DODGE' 'CHRYSLER' 'JAGUAR' 'LAND ROVER' 'ISUZU' 'SKODA' 'DAIHATSU'
 'BUICK' 'TESLA' 'CADILLAC' 'VOLVO' 'სხვა' 'HAVAL' 'PEUGEOT' 'HUMMER'
 'SCION' 'BENTLEY' 'MERCURY']



Model ['RX 450' 'Equinox' 'FIT' 'Santa FE' 'Prius' 'Sonata' 'Camry' 'RX 350'
 'E 350' 'Vectra' 'CHR' 'Elantra' 'RX 400' 'E 220' 'Highlander' 'Vito'
 'Cayenne' 'X5' 'Grand Cherokee' 'CHR Limited' 'H1' 'Jetta' 'Tacoma'
 'Prius C' 'Aqua' 'Escape Hybrid' 'Civic' 'Megane 1.5CDI' 'E 300' 'Q5'
 '535' 'Cruze LT' 'Fusion' 'VOXY' 'A 160' 'Tucson' 'Vitz' 'Captiva'
 'Mustang' 'ML 350' 'Yaris' 'Cruze' 'Orlando' 'GL 63 AMG' '520 Vanos'
 'Lacetti' '428 Sport Line' 'E 320' 'Genesis' '911' 'Sprinter' 'Focus SE'
 'Picanto' '328' 'Explorer' 'Airtrek' 'E 500 AMG' 'Korando' 'C 220'
 'Serena' 'Maxima' 'RAV 4' 'Pajero' 'TERRAIN' '208' 'Hr-v EX' '500'
 'Legacy' 'Elantra sport limited' 'Sienna' 'A 170' 'NX 300' 'REXTON'
 'Carnival grand' 'QX60' 'Passat' 'E 240 E 240' '1000' 'C 250'
 'Vitz funkargo' '325' 'A6' 'Transit' 'Pathfinder' 'Delica' 'Vaneo'
 'Camry Se' 'Cr-v' 'I30' 'Altima' '147' 'Grand Vitara' 'Panamera'
 'Veloster' 'Sienta' 'CLS 550' 'Avalanche' 'Avalon LIMITED' 'Cerato K3'
 'CX-7' 'Astra G' 'Ist' 'Corolla' 'Rogue' 'MPV' '530' 'GS 350' 'Sharan'
 'Tiida' 'Actyon' 'Tundra' 'Elgrand' 'C 350' 'CLS 500' 'RAV 4 Le'
 'Vectra b' 'C 200' '323' 'E 350 ამგ' 'Escape' 'CLK 320' 'Avalon' 'ML 250'
 '330' 'A7 Prestige' 'Colt Lancer' '318' 'Outlander' 'Camry SE' 'Forester'
 'E 200' 'Malibu' 'TL' 'C 300' 'Insight' 'Stream' 'I' 'GTI' 'Colt'
 'Zafira' 'Pajero Mini' 'C-MAX' '750' 'RAV 4 s p o r t' 'E 250' 'CT 200h'
 'Outback' 'GLC 300' 'Navigator' 'Fusion Titanium' 'Jimny' 'Aveo' 'X6'
 'Aqua S' '1111' 'GLA 250' 'NX 200' 'Astra' 'Shuttle' 'C 240'
 'Land Cruiser Prado' '328 Xdrive' 'Taurus' 'Twingo' '535 M PAKET'
 'S 500 long' '525' 'A4 premium' 'Galaxy' 'Golf 4' 'Element' 'C1'
 'X-Trail' 'RIO' 'Vento' 'C 200 2.0' 'M6' 'ML 550 4.7' 'Corolla IM'
 'CLK 240' 'Fiesta' 'Cooper' 'Combo' '520' 'Challenger' 'C 180' 'RX 300'
 'A4' 'Optima' '320' 'RX 400 HYBRID' 'Corolla verso' 'Pajero IO' '528 i'
 'Odyssey' 'L 200' 'Insight EX' 'Focus' 'Teana' 'Matiz' 'Mazda 3' 'Scenic'
 'Spark' 'March' 'Wrangler' 'HS 250h Hybrid' 'Journey' 'GX 470'
 'Sonata SPORT' 'Elantra SE' 'Rogue Sport' 'Auris' 'FJ Cruiser' 'ES 350'
 'M3' 'Impala' 'Volt' 'SOUL' 'S 350 W2222' 'GX 460' '500C Lounge'
 'X-Terra' 'Montero' 'Cruze ltz' 'X5 x5' 'Ipsum' 'Countryman' 'Corolla 04'
 'A 190' 'SLK 230' 'Rogue SL' 'Accent' 'Frontier' 'Grandeur' 'Hr-v'
 'Dart Limited' 'CX-9' 'Golf' '200' 'Accord' 'XF' 'IS 200' 'Freelander'
 'Compass' 'Transit Connect' 'Aqua g soft leather sele' 'Meriva' 'Prius V'
 'Sorento' '114' 'Passo' 'ES 300' 'Sportage' '320 DIESEL' '318 სასწრაფოდ'
 'Rodeo' 'A5' 'Versa' 'Carnival' 'Step Wagon Pada' 'Dart GT 2.4'
 'Vectra B' 'TLX' 'A3 PREMIUM' 'GL 320' 'kona' 'IS 250' 'Cruze LTZ'
 'CLK 320 AMG' '730 3.0' 'S 550' '1300' 'RAM' 'E 230' 'Sprinter 411'
 'Sintra' 'E 500' 'X5 M' 'Camaro' 'S 550 ჰიბრიდი' 'CLS 350' 'Transit 350T'
 '435' 'XV' 'G 350' 'Outlander 2.0' 'Juke' 'Polo' 'Cherokee' 'CLA 250'
 'Ist 1.5' 'Note' 'Harrier' 'Ceed' 'X6 M' 'Camry se' 'Kyron' 'Octavia'
 'Sequoia' 'Mazda 3 SPORT' 'IX35' 'Tiida 2008' 'Sentra' 'GL 550'
 'Town Car' 'Mirage' 'Yukon' '325 CI' '335' 'Smart' 'Jetta სპორტ'
 'Corolla LE' 'Transit Connect ბენზინი' 'Elantra limited' 'Camry S'
 'FIT SPORT' 'Laguna' 'X5 3.5' 'Ipsum S' 'Cooper S Cabrio R56' 'LS 460'
 'Mx-5' 'Crafter' 'Prius plugin' 'A 140' 'Terios' 'Cadenza' 'Sonata 2.0t'
 'E 280' 'Sonata S' 'GL 450' 'B 170' 'Cerato' 'Edge' 'PT Cruiser'
 'Astra 1600' 'Sonata blue edition' 'CLS 55 AMG' '320 M' 'Sprinter VAN'
 'CLK 430' 'IS 350' 'Civic EX' 'Fuga' 'Pajero Sport' 'Viano' 'MKZ' '528'
 'Cruze strocna' 'Countryman S' 'Tiida AXIS' 'CLK 200' 'Swift'
 'Volt premier' 'HS 250h' 'CT 200h F-sport' 'Mondeo' '316 i' 'Century'
 'E 550' 'Legacy B4 twin turbo' 'Corsa' 'Avenger' '740' 'A8' 'Atenza'
 'Tiguan' 'Astra BERTONE' 'GLE 350' 'FIT Hbrid' 'Verso' 'Golf 6' '230'
 'Bluebird' '120' 'CLK 230 .' 'Liana' 'C 280' 'Alphard' 'ColtPlus'
 'A4 S line' 'Camry XLE' 'Sonata hybrid' 'Liberty' 'Fit Aria' 'ISIS'
 'F-type' 'Grandis' 'E 430' 'FIT S' 'Inspire' 'Land Rover Sport' 'Venza'
 'RVR' 'Town and Country' 'XV LIMITED' 'Premacy' 'Model X' 'R 350' '135'
 'E 240' 'Corolla S' 'Demio' 'Jetta GLI' 'ML 350 4 MATIC' 'CLK 55 AMG'
 'CX-5' 'Kizashi' 'YRV' 'Allante' 'C 230' 'Combo 2001' 'S 500' '540 I'
 'Fusion phev' '500 Abarth' '650' 'A4 premium plius' 'Mazda 6' 'Fred'
 'Altezza' 'C 320 CDI' '550' 'E 270' 'Escape Titanium' '428' 'C30 2010'
 'Micra' 'X5 XDRIVE' '535 i' 'Estima' 'C 200 7G-TRONIC' 'Astra g' 'X 250'
 'IVECO DAYLY' 'ML 280 სასწრაფოდ' '640 GRAN-COUPE' 'Range Rover'
 'Camry SPORT' 'Impreza' 'Hilux' 'Acadia' 'Cruze Premier' 'UP'
 'Outlander SPORT' '500L LONG' 'Ranger' 'XJ' 'XL7' 'Passat sel'
 'FIT HIBRID' 'H6' 'CC R line' 'Mazda 6 TOURING' 'CLA 45 AMG' 'Caliber'
 'Murano' '523' '320 i' 'Discovery' 'Sebring' 'Escape 3.0' 'Ramcharger'
 'C 36 AMG' 'Transit Fff' 'LX 570' 'Gentra' 'S 350' '316' 'Cinquecento'
 'Patrol' 'Pilot' '5.30E+62' 'CC 2.0 T' 'BRZ' 'Touareg' '1500'
 'Grand Cherokee Saiubileo' 'Smart Fortwo' 'Skyline' 'Fusion TITANIUM'
 '500 Sport' 'Golf TDI' 'Camry sport' 'Demio evropuli' 'Land Cruiser'
 'CLS 550 550' 'Equinox LT' 'Outlander SE' 'E 270 AVANGARDI'
 'Passat R-line' 'Eunos 500' 'Pacifica' 'Doblo' 'Allroad' 'E 350 212'
 'Panamera S' 'Outlander Sport' 'Serena Serea' 'Caddy' 'E 55'
 'Cooper S Cabrio' 'S 63 AMG' 'Transit S' 'C 63 AMG' 'C-MAX HYBRID'
 '435 CUPE' 'Traverse' 'ML 500' 'G 55 AMG' 'ML 270' 'LX 470' '2107'
 'CLK 200 Kompressor' 'Elysion' 'Transit 135' 'M5 Japan' 'Caldina'
 'Aqua s' 'Elantra LIMITED' '607' 'RX 350 F sport' 'Astra H'
 'Megane GT Line' 'Q5 S-line' 'X1' 'CLK 270' 'Sirion' 'Elantra GT'
 'Cruze RS' 'MKZ hybrid' '130' 'X-Trail X-trail' 'VehiCross' 'CC'
 'Prius C Navigation' 'E 350 w211' 'Clio' 'Sonata HYBRID' 'ML 320'
 'Range Rover Evoque' 'Prius V ALPINA' 'Taurus interceptor' 'RIO lx'
 'X5 XDRIVE 35D' 'Jetta SEL' 'G 300' 'RX 450 H' 'Agila' 'Highlander sport'
 'Avella' 'Focus TITANIUM' 'Forte' 'Accord CL9 type S' '500 turbo' 'TSX'
 'Aqua L paketi' 'Santa FE Ultimate' 'Sprinter 311' '320 Gran Turismo'
 'E 280 CDI' 'E 36 AMG' 'Outlander sport' 'Astra astra' 'Vito 2.2' 'F150'
 '535 Twinturbo' '416' 'Avensis' 'Sonata Hibrid' 'Prius s' 'RIO lX' 'QX80'
 'Will Vs' 'Prius BLUG-IN' 'Q7' 'Presage RIDER' 'Yaris IA'
 'E 300 AVANTGARDE-LTD' 'Escalade' 'H2' '550 GT' '500C' '616'
 'CLS 350 AMG' 'R 320' 'MDX' 'KA' '128 M tech' 'Encore' 'Megane'
 'FIT HYBRYD' 'CL 550' 'X3 3.5i' 'E 350 AMG' 'C 220 CDI' 'Elantra gt'
 '550 F10' 'Focus ST' 'Camry sporti' 'G20' 'Sonic' '545' '2121 (Niva)'
 'FX35' 'X5 4,4i' '320 2.2' 'Megane 19' 'S 320' 'Cruze LS' 'Camry HYBRID'
 'E 350 4 Matic AMG Packag' '645 CI' 'CTS' 'Lancer' 'Camry LE' 'Fortuner'
 'CT 200h F SPORT' 'Maverick' 'Elantra Limited' '225' 'S-max' '525 i'
 'GL 320 bluetec' '100' 'Quest 2016' 'SX4' 'RC F' 'X3' '320 2.0'
 '328 DIZEL' 'FIT fit' 'RS7' 'Passat SE' 'iA isti' 'Elantra GLS / LIMITED'
 '320 320' 'Avalon limited' 'Optima X' 'C 320' 'Touran' 'Omega B'
 'Corsa Corsa' 'Vectra C' 'E 220 cdi' 'GL 350' 'Demio 12' 'Tucson TURBO'
 '535 comfort-sport' '500 46 ml' 'Wish' 'Vitz RS' '500 Lounge' 'XC90'
 'Ioniq' '525 525' 'Trailblazer' 'Optima Hybrid' 'Crosstrek' 'CLS 63 AMG'
 'R 350 BLUETEC' 'Cruze sonic' 'Nubira' 'Axela' 'X5 3.0' 'Scirocco'
 '745 i' 'A3' 'Mulsanne' '320 I' 'SRX' 'Renegade' 'Caravan' 'GONOW'
 'S 350 Longia' 'Fun Cargo' 'Cruze L T' 'C-MAX SEL' 'Vitara' 'Aqua G klas'
 'Cougar' 'Fusion SE' 'Escort' 'NEW Beetle' '116' '328 sulev' 'Sorento SX'
 'M5' '4Runner' 'Corolla Im' 'Kangoo' 'Aerio SX' 'C 230 2.5'
 'Highlander 2.4 lit' 'Camry Le' 'CERVO' 'Sprinter Maxi-ს Max'
 'Sonata LPG' 'Camry Hybrid' 'Kizashi sporti' 'B-MAX' 'Montero Sport'
 'X1 28Xdrive' 'Malibu LT' 'X5 restilling' 'Focus Fokusi' 'Fabia'
 'IS 250 რესტაილინგი' '335 335i' 'RX 400 RESTAILING' 'tC' 'Intrepid'
 'EX37' 'Prius ფლაგინი' 'CX-5 Touring']



ProdYear ['2010' '2011' '2006' '2014' '2016' '2013' '2007' '1997' '2018' '2008'
 '2012' '2017' '2009' '2000' '2019' '2004' '2015' '2001' '1995' '2005'
 '2003' '1999' '1985' '1998' '2002' '1993' '1988' '1996' '1994' '2020'
 '1992' '1991' '1984']



Category ['Jeep' 'Hatchback' 'Sedan' 'Goods wagon' 'Universal' 'Minivan'
 'Cabriolet' 'Coupe' 'Microbus' 'Pickup' 'Limousine']



Leather_interior ['Yes' 'No']



Fuel_type ['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG']



Engine_volume [ 3.5  3.   1.3  2.   1.8  2.4  2.5  1.6  3.3  2.2  1.5  4.4  1.4  3.6
  4.   2.3  5.5  3.2  3.8  1.2  5.   1.7  2.9  1.9  2.7  4.8  5.3  2.8
  4.6  2.1  0.7  5.4  3.7  1.   4.7  0.8  0.2  5.7  6.7  6.2  3.4  4.3
  4.2  0.   2.6 20.   1.1  5.9  6.3  5.6  6.   0.6  6.8  4.5]



Mileage [ 186005  192000  200000 ...  127983  151443 1000900]



Cylinders [ 6  4  8  1 12  3  2 16  5  7  9 10]



Gear_box_type ['Automatic' 'Tiptronic' 'Variator' 'Manual']



Color ['Silver' 'Black' 'White' 'Grey' 'Blue' 'Red' 'Sky blue' 'Orange' 'Green'
 'Yellow' 'Golden' 'Beige' 'Brown' 'Carnelian red' 'Purple' 'Pink']



Airbags [12  8  2  4  6 10  3  1 16  5  7  9 11 14 15]

In [ ]:
df['Model'].unique().tolist()

['RX 450',
 'Equinox',
 'FIT',
 'Santa FE',
 'Prius',
 'Sonata',
 'Camry',
 'RX 350',
 'E 350',
 'Vectra',
 'CHR',
 'Elantra',
 'RX 400',
 'E 220',
 'Highlander',
 'Vito',
 'Cayenne',
 'X5',
 'Grand Cherokee',
 'CHR Limited',
 'H1',
 'Jetta',
 'Tacoma',
 'Prius C',
 'Aqua',
 'Escape Hybrid',
 'Civic',
 'Megane 1.5CDI',
 'E 300',
 'Q5',
 '535',
 'Cruze LT',
 'Fusion',
 'VOXY',
 'A 160',
 'Tucson',
 'Vitz',
 'Captiva',
 'Mustang',
 'ML 350',
 'Yaris',
 'Cruze',
 'Orlando',
 'GL 63 AMG',
 '520 Vanos',
 'Lacetti',
 '428 Sport Line',
 'E 320',
 'Genesis',
 '911',
 'Sprinter',
 'Focus SE',
 'Picanto',
 '328',
 'Explorer',
 'Airtrek',
 'E 500 AMG',
 'Korando',
 'C 220',
 'Serena',
 'Maxima',
 'RAV 4',
 'Pajero',
 'TERRAIN',
 '208',
 'Hr-v EX',
 '500',
 'Legacy',
 'Elantra sport limited',
 'Sienna',
 'A 170',
 'NX 300',
 'REXTON',
 'Carnival grand',
 'QX60',
 'Passat',
 'E 240 E 240',
 '1000',
 'C 250',
 'Vitz funkargo',
 '325',
 'A6',
 'Transit',
 'Pathfinder',
 'Delica',
 'Vaneo',
 'Camry Se',
 'Cr-v',
 'I30',
 'Altima',
 '147',
 'Grand Vitara',
 'Panamera',
 'Veloster',
 'Sienta',
 'CLS 550',
 'Avalanche',
 'Avalon LIMITED',
 'Cerato K3',
 'CX-7',
 'Astra G',
 'Ist',
 'Corolla',
 'Rogue',
 'MPV',
 '530',
 'GS 350',
 'Sharan',
 'Tiida',
 'Actyon',
 'Tundra',
 'Elgrand',
 'C 350',
 'CLS 500',
 'RAV 4 Le',
 'Vectra b',
 'C 200',
 '323',
 'E 350 ამგ',
 'Escape',
 'CLK 320',
 'Avalon',
 'ML 250',
 '330',
 'A7 Prestige',
 'Colt Lancer',
 '318',
 'Outlander',
 'Camry SE',
 'Forester',
 'E 200',
 'Malibu',
 'TL',
 'C 300',
 'Insight',
 'Stream',
 'I',
 'GTI',
 'Colt',
 'Zafira',
 'Pajero Mini',
 'C-MAX',
 '750',
 'RAV 4 s p o r t',
 'E 250',
 'CT 200h',
 'Outback',
 'GLC 300',
 'Navigator',
 'Fusion Titanium',
 'Jimny',
 'Aveo',
 'X6',
 'Aqua S',
 '1111',
 'GLA 250',
 'NX 200',
 'Astra',
 'Shuttle',
 'C 240',
 'Land Cruiser Prado',
 '328 Xdrive',
 'Taurus',
 'Twingo',
 '535 M PAKET',
 'S 500 long',
 '525',
 'A4 premium',
 'Galaxy',
 'Golf 4',
 'Element',
 'C1',
 'X-Trail',
 'RIO',
 'Vento',
 'C 200 2.0',
 'M6',
 'ML 550 4.7',
 'Corolla IM',
 'CLK 240',
 'Fiesta',
 'Cooper',
 'Combo',
 '520',
 'Challenger',
 'C 180',
 'RX 300',
 'A4',
 'Optima',
 '320',
 'RX 400 HYBRID',
 'Corolla verso',
 'Pajero IO',
 '528 i',
 'Odyssey',
 'L 200',
 'Insight EX',
 'Focus',
 'Teana',
 'Matiz',
 'Mazda 3',
 'Scenic',
 'Spark',
 'March',
 'Wrangler',
 'HS 250h Hybrid',
 'Journey',
 'GX 470',
 'Sonata SPORT',
 'Elantra SE',
 'Rogue Sport',
 'Auris',
 'FJ Cruiser',
 'ES 350',
 'M3',
 'Impala',
 'Volt',
 'SOUL',
 'S 350 W2222',
 'GX 460',
 '500C Lounge',
 'X-Terra',
 'Montero',
 'Cruze ltz',
 'X5 x5',
 'Ipsum',
 'Countryman',
 'Corolla 04',
 'A 190',
 'SLK 230',
 'Rogue SL',
 'Accent',
 'Frontier',
 'Grandeur',
 'Hr-v',
 'Dart Limited',
 'CX-9',
 'Golf',
 '200',
 'Accord',
 'XF',
 'IS 200',
 'Freelander',
 'Compass',
 'Transit Connect',
 'Aqua g soft leather sele',
 'Meriva',
 'Prius V',
 'Sorento',
 '114',
 'Passo',
 'ES 300',
 'Sportage',
 '320 DIESEL',
 '318 სასწრაფოდ',
 'Rodeo',
 'A5',
 'Versa',
 'Carnival',
 'Step Wagon Pada',
 'Dart GT 2.4',
 'Vectra B',
 'TLX',
 'A3 PREMIUM',
 'GL 320',
 'kona',
 'IS 250',
 'Cruze LTZ',
 'CLK 320 AMG',
 '730 3.0',
 'S 550',
 '1300',
 'RAM',
 'E 230',
 'Sprinter 411',
 'Sintra',
 'E 500',
 'X5 M',
 'Camaro',
 'S 550 ჰიბრიდი',
 'CLS 350',
 'Transit 350T',
 '435',
 'XV',
 'G 350',
 'Outlander 2.0',
 'Juke',
 'Polo',
 'Cherokee',
 'CLA 250',
 'Ist 1.5',
 'Note',
 'Harrier',
 'Ceed',
 'X6 M',
 'Camry se',
 'Kyron',
 'Octavia',
 'Sequoia',
 'Mazda 3 SPORT',
 'IX35',
 'Tiida 2008',
 'Sentra',
 'GL 550',
 'Town Car',
 'Mirage',
 'Yukon',
 '325 CI',
 '335',
 'Smart',
 'Jetta სპორტ',
 'Corolla LE',
 'Transit Connect ბენზინი',
 'Elantra limited',
 'Camry S',
 'FIT SPORT',
 'Laguna',
 'X5 3.5',
 'Ipsum S',
 'Cooper S Cabrio R56',
 'LS 460',
 'Mx-5',
 'Crafter',
 'Prius plugin',
 'A 140',
 'Terios',
 'Cadenza',
 'Sonata 2.0t',
 'E 280',
 'Sonata S',
 'GL 450',
 'B 170',
 'Cerato',
 'Edge',
 'PT Cruiser',
 'Astra 1600',
 'Sonata blue edition',
 'CLS 55 AMG',
 '320 M',
 'Sprinter VAN',
 'CLK 430',
 'IS 350',
 'Civic EX',
 'Fuga',
 'Pajero Sport',
 'Viano',
 'MKZ',
 '528',
 'Cruze strocna',
 'Countryman S',
 'Tiida AXIS',
 'CLK 200',
 'Swift',
 'Volt premier',
 'HS 250h',
 'CT 200h F-sport',
 'Mondeo',
 '316 i',
 'Century',
 'E 550',
 'Legacy B4 twin turbo',
 'Corsa',
 'Avenger',
 '740',
 'A8',
 'Atenza',
 'Tiguan',
 'Astra BERTONE',
 'GLE 350',
 'FIT Hbrid',
 'Verso',
 'Golf 6',
 '230',
 'Bluebird',
 '120',
 'CLK 230 .',
 'Liana',
 'C 280',
 'Alphard',
 'ColtPlus',
 'A4 S line',
 'Camry XLE',
 'Sonata hybrid',
 'Liberty',
 'Fit Aria',
 'ISIS',
 'F-type',
 'Grandis',
 'E 430',
 'FIT S',
 'Inspire',
 'Land Rover Sport',
 'Venza',
 'RVR',
 'Town and Country',
 'XV LIMITED',
 'Premacy',
 'Model X',
 'R 350',
 '135',
 'E 240',
 'Corolla S',
 'Demio',
 'Jetta GLI',
 'ML 350 4 MATIC',
 'CLK 55 AMG',
 'CX-5',
 'Kizashi',
 'YRV',
 'Allante',
 'C 230',
 'Combo 2001',
 'S 500',
 '540 I',
 'Fusion phev',
 '500 Abarth',
 '650',
 'A4 premium plius',
 'Mazda 6',
 'Fred',
 'Altezza',
 'C 320 CDI',
 '550',
 'E 270',
 'Escape Titanium',
 '428',
 'C30 2010',
 'Micra',
 'X5 XDRIVE',
 '535 i',
 'Estima',
 'C 200 7G-TRONIC',
 'Astra g',
 'X 250',
 'IVECO DAYLY',
 'ML 280 სასწრაფოდ',
 '640 GRAN-COUPE',
 'Range Rover',
 'Camry SPORT',
 'Impreza',
 'Hilux',
 'Acadia',
 'Cruze Premier',
 'UP',
 'Outlander SPORT',
 '500L LONG',
 'Ranger',
 'XJ',
 'XL7',
 'Passat sel',
 'FIT HIBRID',
 'H6',
 'CC R line',
 'Mazda 6 TOURING',
 'CLA 45 AMG',
 'Caliber',
 'Murano',
 '523',
 '320 i',
 'Discovery',
 'Sebring',
 'Escape 3.0',
 'Ramcharger',
 'C 36 AMG',
 'Transit Fff',
 'LX 570',
 'Gentra',
 'S 350',
 '316',
 'Cinquecento',
 'Patrol',
 'Pilot',
 '5.30E+62',
 'CC 2.0 T',
 'BRZ',
 'Touareg',
 '1500',
 'Grand Cherokee Saiubileo',
 'Smart Fortwo',
 'Skyline',
 'Fusion TITANIUM',
 '500 Sport',
 'Golf TDI',
 'Camry sport',
 'Demio evropuli',
 'Land Cruiser',
 'CLS 550 550',
 'Equinox LT',
 'Outlander SE',
 'E 270 AVANGARDI',
 'Passat R-line',
 'Eunos 500',
 'Pacifica',
 'Doblo',
 'Allroad',
 'E 350 212',
 'Panamera S',
 'Outlander Sport',
 'Serena Serea',
 'Caddy',
 'E 55',
 'Cooper S Cabrio',
 'S 63 AMG',
 'Transit S',
 'C 63 AMG',
 'C-MAX HYBRID',
 '435 CUPE',
 'Traverse',
 'ML 500',
 'G 55 AMG',
 'ML 270',
 'LX 470',
 '2107',
 'CLK 200 Kompressor',
 'Elysion',
 'Transit 135',
 'M5 Japan',
 'Caldina',
 'Aqua s',
 'Elantra LIMITED',
 '607',
 'RX 350 F sport',
 'Astra H',
 'Megane GT Line',
 'Q5 S-line',
 'X1',
 'CLK 270',
 'Sirion',
 'Elantra GT',
 'Cruze RS',
 'MKZ hybrid',
 '130',
 'X-Trail X-trail',
 'VehiCross',
 'CC',
 'Prius C Navigation',
 'E 350 w211',
 'Clio',
 'Sonata HYBRID',
 'ML 320',
 'Range Rover Evoque',
 'Prius V ALPINA',
 'Taurus interceptor',
 'RIO lx',
 'X5 XDRIVE 35D',
 'Jetta SEL',
 'G 300',
 'RX 450 H',
 'Agila',
 'Highlander sport',
 'Avella',
 'Focus TITANIUM',
 'Forte',
 'Accord CL9 type S',
 '500 turbo',
 'TSX',
 'Aqua L paketi',
 'Santa FE Ultimate',
 'Sprinter 311',
 '320 Gran Turismo',
 'E 280 CDI',
 'E 36 AMG',
 'Outlander sport',
 'Astra astra',
 'Vito 2.2',
 'F150',
 '535 Twinturbo',
 '416',
 'Avensis',
 'Sonata Hibrid',
 'Prius s',
 'RIO lX',
 'QX80',
 'Will Vs',
 'Prius BLUG-IN',
 'Q7',
 'Presage RIDER',
 'Yaris IA',
 'E 300 AVANTGARDE-LTD',
 'Escalade',
 'H2',
 '550 GT',
 '500C',
 '616',
 'CLS 350 AMG',
 'R 320',
 'MDX',
 'KA',
 '128 M tech',
 'Encore',
 'Megane',
 'FIT HYBRYD',
 'CL 550',
 'X3 3.5i',
 'E 350 AMG',
 'C 220 CDI',
 'Elantra gt',
 '550 F10',
 'Focus ST',
 'Camry sporti',
 'G20',
 'Sonic',
 '545',
 '2121 (Niva)',
 'FX35',
 'X5 4,4i',
 '320 2.2',
 'Megane 19',
 'S 320',
 'Cruze LS',
 'Camry HYBRID',
 'E 350 4 Matic AMG Packag',
 '645 CI',
 'CTS',
 'Lancer',
 'Camry LE',
 'Fortuner',
 'CT 200h F SPORT',
 'Maverick',
 'Elantra Limited',
 '225',
 'S-max',
 '525 i',
 'GL 320 bluetec',
 '100',
 'Quest 2016',
 'SX4',
 'RC F',
 'X3',
 '320 2.0',
 '328 DIZEL',
 'FIT fit',
 'RS7',
 'Passat SE',
 'iA isti',
 'Elantra GLS / LIMITED',
 '320 320',
 'Avalon limited',
 'Optima X',
 'C 320',
 'Touran',
 'Omega B',
 'Corsa Corsa',
 'Vectra C',
 'E 220 cdi',
 'GL 350',
 'Demio 12',
 'Tucson TURBO',
 '535 comfort-sport',
 '500 46 ml',
 'Wish',
 'Vitz RS',
 '500 Lounge',
 'XC90',
 'Ioniq',
 '525 525',
 'Trailblazer',
 'Optima Hybrid',
 'Crosstrek',
 'CLS 63 AMG',
 'R 350 BLUETEC',
 'Cruze sonic',
 'Nubira',
 'Axela',
 'X5 3.0',
 'Scirocco',
 '745 i',
 'A3',
 'Mulsanne',
 '320 I',
 'SRX',
 'Renegade',
 'Caravan',
 'GONOW',
 'S 350 Longia',
 'Fun Cargo',
 'Cruze L T',
 'C-MAX SEL',
 'Vitara',
 'Aqua G klas',
 'Cougar',
 'Fusion SE',
 'Escort',
 'NEW Beetle',
 '116',
 '328 sulev',
 'Sorento SX',
 'M5',
 '4Runner',
 'Corolla Im',
 'Kangoo',
 'Aerio SX',
 'C 230 2.5',
 'Highlander 2.4 lit',
 'Camry Le',
 'CERVO',
 'Sprinter Maxi-ს Max',
 'Sonata LPG',
 'Camry Hybrid',
 'Kizashi sporti',
 'B-MAX',
 'Montero Sport',
 'X1 28Xdrive',
 'Malibu LT',
 'X5 restilling',
 'Focus Fokusi',
 'Fabia',
 'IS 250 რესტაილინგი',
 '335 335i',
 'RX 400 RESTAILING',
 'tC',
 'Intrepid',
 'EX37',
 'Prius ფლაგინი',
 'CX-5 Touring']

In [ ]:
df

,ID,Manufacturer,Model,ProdYear,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Black,2
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Silver,4
5,45802912,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2.0,160931,4,Automatic,White,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,45813442,TOYOTA,Camry,2016,Sedan,Yes,Petrol,2.5,151443,4,Automatic,Grey,12
5228,45811047,MERCEDES-BENZ,Smart,2004,Hatchback,No,Petrol,1.3,1000900,4,Tiptronic,Black,8
5230,45115882,HYUNDAI,Elantra,2015,Sedan,No,Petrol,1.8,76800,4,Tiptronic,Blue,12
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918,4,Automatic,Blue,8
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2.0,99200,4,Tiptronic,Green,12

In [ ]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
df

,ID,Manufacturer,Model,ProdYear,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Color,Airbags
0,45654403,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,Silver,12
1,44731507,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,Black,8
2,45774419,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Black,2
4,45809263,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Silver,4
5,45802912,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2.0,160931,4,Automatic,White,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,45813442,TOYOTA,Camry,2016,Sedan,Yes,Petrol,2.5,151443,4,Automatic,Grey,12
5228,45811047,MERCEDES-BENZ,Smart,2004,Hatchback,No,Petrol,1.3,1000900,4,Tiptronic,Black,8
5230,45115882,HYUNDAI,Elantra,2015,Sedan,No,Petrol,1.8,76800,4,Tiptronic,Blue,12
5231,45596517,MAZDA,CX-5 Touring,2016,Jeep,No,Petrol,2.5,122918,4,Automatic,Blue,8
5235,45548755,SUBARU,XV,2014,Jeep,Yes,Hybrid,2.0,99200,4,Tiptronic,Green,12

In [ ]:
# check for white spaces in string values in all columns
for col in df.columns:
    # convert non-string values to string
    mask = df[col].apply(lambda x: str(x)).str.contains(r'^\s|\s$')
    # count the number of values with white spaces
    num_spaces = mask.sum()
    if num_spaces > 0:
        print(f'Column "{col}" contains {num_spaces} values with white spaces.')

In [ ]:
df.applymap(lambda x: isinstance(x, str) and x.strip().find(' ') != -1)

,ID,Manufacturer,Model,ProdYear,Category,Leather_interior,Fuel_type,Engine_volume,Mileage,Cylinders,Gear_box_type,Color,Airbags
0,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,False,False,False,False,False,False,False,False,False,False,False,False,False
5228,False,False,False,False,False,False,False,False,False,False,False,False,False
5230,False,False,False,False,False,False,False,False,False,False,False,False,False
5231,False,False,True,False,False,False,False,False,False,False,False,False,False
5235,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# check for white spaces in string values in all columns
for col in df.columns:
    # convert non-string values to string
    mask = df[col].apply(lambda x: str(x)).str.contains(r'^\s|\s$')
   
    num_spaces = mask.sum()
    if num_spaces > 0:
      print(f'Column "{col}" contains {num_spaces} values with white spaces.')
    else:
      print("null")

null
null
null
null
null
null
null
null
null
null
null
null
null

In [ ]:
df.to_csv("cars_prices_cleaned.csv", index=False)